<h1>Gerenciador de Conteúdo</h1>
<p>
  <a href="/ProjetoMVC/?pagina=admin&metodo=create"
    ><i class="fas fa-plus"></i> Criar Publicação
  </a>
</p>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col" style="text-align: center">ID</th>
      <th scope="col" style="text-align: center">Título</th>
      <th scope="col" style="text-align: center">Update</th>
      <th scope="col" style="text-align: center">Delete</th>
      <th scope="col" style="text-align: center">Conteudo</th>
    </tr>
  </thead>
  {% for postagem in postagens %}
  <tr>
    <th scope="row">{{postagem.id}}</th>
    <td>{{postagem.titulo}}</td>
    <td>
      <a
        href="/ProjetoMVC/?pagina=admin&metodo=change&id={{postagem.id}}"
        style="text-align: center"
        ><i class="fas fa-pen-square"></i
      ></a>
    </td>
    <td>
      <a
        href="/ProjetoMVC/?pagina=admin&metodo=delete&id={{postagem.id}}"
        style="text-align: center"
        ><i class="fas fa-backspace"></i
      ></a>
    </td>
    <td>
      <a
        href="/ProjetoMVC/?pagina=post&id={{postagem.id}}"
        style="text-align: center"
        ><i class="fas fa-book"></i
      ></a>
    </td>
  </tr>
  {% endfor %}
</table>
