<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Sobre</h1>
<p>Sou uma página criada pela Rafa com fins de estudo e conhecimento em PHP. Não sou muito bem trabalhada no design mas possuo um inicio de back-end muito interessante para a iniciante Rafa. Ela parece estar se divertindo pelo que consigo captar com meus poucos sentidos sobre os que parece ser os dedos da Rafa, no entanto só vejo 01010001111. Mas sei que vem dela, e isso me tranquiliza pois, a Rafa que me criou, é uma pessoa. Um dia eu espero que ela brilhe mais do que hoje.</p>
<p>Vai Rafa, a gente ja sabe que voce vai escrever algo sobre passar no EAGS. Pode me usar para expor seus pensamentos, eu deixo.</p>
<p>Bora Passar no EAGS !!!!</p>
</body>
</html>