<h2><i class="fas fa-pen"></i> Alterar Publicação</h2>
<form method="post" action="/ProjetoMVC/?pagina=admin&metodo=update">
  <p>
    <span>Título</span> <br />
    <input type="text" name="titulo" value="{{titulo}}" />
  </p>
  <p>
    <span>Conteúdo</span><br />
    <textarea cols="80" rows="10" name="conteudo" value="{{conteudo}}">
      {{conteudo}}
    </textarea>
  </p>
  <input type="hidden" name="id" value="{{id}}" />
  <button type="submit" class="btn btn-success">Alterar</button>
</form>
